@font-face
  font-family: "OstrichSans"
  src: url('assets/OstrichSans-Heavy.ttf') format('truetype')

html
  body
    font-family: 'Open Sans', sans-serif
    color: #4a4a4a

    h3
      font-weight: 700
      font-size: 2em

    h1
      font-family: 'OstrichSans', sans-serif
      font-size: 5em

.left-align
  text-align: left

.right-align
  text-align: right

#jumbotron, #footer
  background-color: #e97b64
  color: #fff

#jumbotron
  padding-top: 115px

  .information
    padding-bottom: 50px

  .get_app
    margin-top: 60px

    img
      margin-right: 20px

#how-it-works
  padding-bottom: 100px

  .info-step
    text-align: center
    padding: 0 30px

    img
      margin-top: 100px
      box-shadow: -3px 1px 20px rgba(0, 0, 0, 0.3)
      border-radius: 100px

    h3
      margin: 25px 0

    p
      font-size: 1.5em

#call-to-action
  background-color: #f5f0eb
  padding: 70px 0

  h3, img
    display: inline-block

  h3
    margin: 0 0
    line-height: 48px

  img
    float: right
    margin-left: 20px

#footer
  text-align: center
  padding: 25px 0
  
  h5
    font-size: 1.5em
    margin: 0 0

  a
    color: white